* {
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --white: #fff;
  --main-transsion: 0.8s;
  --background-section: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #000;
  width: fit-content;
  padding: 10px;
  position: relative;
  transition: background-color 1.8s, color 2s, border 2s;
  margin: 0 auto 80px;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -15%;
  transition: left var(--main-transsion), background-color 1.5s, all 1s;
}

.main-title::after {
  right: -15%;
  transition: right var(--main-transsion), background-color 1.5s, all 1s;
}

.main-title:hover::before {
  left: 40%;
  width: 50%;
  height: 100%;
  border-radius: 0;
  top: 50%;
  background-color: transparent;
}

.main-title:hover::after {
  right: 40%;
  width: 50%;
  height: 100%;
  border-radius: 0;
  top: 50%;
  background-color: transparent;
}

.main-title:hover {
  background-color: var(--main-color);
  color: var(--white);
  border: 2px solid var(--main-color);
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}

header {
  background-color: var(--white);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo,
.logo>a {
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
}

@media (max-width: 767px) {

  .logo,
  .logo>a {
    width: 100%;
    height: 50px;
  }
}

header .main-nav,
header .main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  header .main-nav ul {
    margin: auto;
  }
}

header .main-nav ul li {
  padding: 28px 15px;
  color: black;
  cursor: pointer;
  transition: var(--main-transsion);
  position: relative;
}

header .main-nav ul li a {
  color: #000;
  font-size: 20px;
}

@media (max-width: 768px) {
  header .main-nav ul li {
    padding: 10px 18px;
  }

  header .main-nav ul li a {
    font-size: 25px;
  }
}

header .main-nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4%;
  transition: var(--main-transsion);
  background-color: var(--main-color);
  left: 0;
  top: 0;
  display: none;
  animation-name: liAnimate;
  animation-duration: var(--main-transsion);
  animation-iteration-count: initial;
}

header .main-nav ul li:hover {
  color: var(--main-color);
  background-color: #eee;
}

header .main-nav ul li:hover::after {
  display: block;
}

/* Style Of mega-nav */
header .main-nav ul .other {
  position: static;
}

header .main-nav ul .other .mega-nav .mega-img img {
  max-width: 100%;
}

header .main-nav ul .other .mega-nav {
  position: absolute;
  left: 4%;
  background-color: var(--white);
  width: 90%;
  display: flex;
  z-index: -1;
  padding: 30px;
  justify-content: space-evenly;
  border-top: 1px solid #ececec;
  top: calc(100% + 50px);
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition: top 0.3s, opactiy 0.3s;
}

header .main-nav ul .other .mega-nav ul {
  margin-top: 7px;
  display: block;
  min-width: 240px;
  flex: 1;
}

header .main-nav ul .other .mega-nav li,
header .main-nav ul .other .mega-nav li a {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transsion);
  color: var(--main-color);
  border-bottom: 1px solid #ececec;
  position: relative;
}

header .main-nav ul .other .mega-nav li i {
  margin: 8px;
}

@media (max-width: 991px) {
  header .main-nav ul .other .mega-nav .mega-img img {
    display: none;
  }
}

header .main-nav ul .other .mega-nav li::after {
  content: "";
  position: absolute;
  background-color: rgb(238 238 238 / 20%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  animation-name: liAnimate;
  animation-duration: 0.5s;
  animation-iteration-count: initial;
}

header .main-nav ul .other .mega-nav li:hover:after {
  display: block;
}

header .main-nav .other:hover .mega-nav {
  opacity: 1;
  z-index: 100;
  top: 100%;
}

@media (max-width: 767px) {
  header .main-nav ul .other .mega-nav {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }

  header .main-nav ul .other .mega-nav img {
    max-width: 100%;
    width: 40%;
  }

  header .main-nav ul .other .mega-nav ul {
    margin-top: 0;
  }

  header .main-nav ul .other .mega-nav ul li {
    padding: 0;
    font-size: 14px;
  }
}

/* Style Of Landing Section */
.landing {
  position: relative;
}

/* Create Div Parent Of data Landing Section */
.landing .title {
  min-height: calc(100vh - 79px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

/* Style Of Image */
.landing .title img {
  width: 600px;
}

.landing .title .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .title .text {
    text-align: center;
  }
}

.landing .title .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  color: var(--white);
  text-align: center;
}

.landing .title .text p {
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: var(--white);
  max-width: 500px;
  text-align: center;
}

@media (max-width: 991px) {
  .landing .title .text p {
    margin: 10px auto;
  }
}

/* Give Div Of Img Position raltive to move img up down by animation */
.landing .title .img-land {
  position: relative;
  animation-name: land-img;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Image In Small Screen */
@media (max-width: 991px) {
  .landing .title .img-land {
    display: none;
  }
}

/* Style To Create spical Background */
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: -40px;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

/* Style Of Arraow Link */
.landing a {
  position: absolute;
  left: 49%;
  color: var(--main-color);
  font-size: 35px;
  animation-name: arrow-link;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* Style footer */
.end {
  background-color: #191919;
  padding-top: var(--main-padding-top);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.end .my-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;
}

.my-info .social h3 {
  font-size: 60px;
  margin: 0 0 40px;
  color: var(--white);
}

@media (max-width: 586px) {
  .my-info .social {
    text-align: center;
  }
}

.my-info .icons a {
  background-color: #313131;
  padding: 10px 20px;
  font-size: 25px;
  margin-left: 5px;
  color: var(--background-section);
}

.my-info .icons a i {
  transition: var(--main-transsion);
}

.my-info .icons a:hover .fa-youtube {
  color: red;
}

.my-info .icons a:hover .fa-facebook,
.my-info .icons a:hover .fa-linkedin {
  color: var(--main-color);
}

.my-info .social p {
  color: #a59d9d;
  margin-top: 40px;
  line-height: 1.5;
  font-size: 15px;
}

.my-info .links ul {
  width: 100%;
  height: 100%;
}

.my-info .links ul li {
  height: 18%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #a59d9d;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: var(--main-transsion);
  margin-bottom: 15px;
}

.my-info .links ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
  transition: var(--main-transsion);
}

.my-info .links ul li:hover {
  color: var(--white);
}

.my-info .links ul li:hover::before {
  margin-left: 20px;
}

@media (max-width: 586px) {
  .my-info .links ul li {
    justify-content: center;
    padding: 10px;
  }
}

.my-info .main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-info .line {
  display: flex;
  justify-content: center;
}

.my-info .line i {
  font-size: 28px;
  color: var(--main-color);
  flex-basis: 10%;
}

@media (max-width: 586px) {
  .main-info .line {
    flex-direction: column;
    align-items: center;
  }

  .my-info .line i {
    margin: 15px;
  }
}

.my-info .info {
  height: 100%;
  color: #a59d9d;
  font-size: 30px;
}

.my-info .templates img {
  max-width: 30%;
  border: 4px solid #fff;
  margin: 3px;
}

.end .copyright {
  border-top: 1px solid #ccc;
  padding: 30px;
  text-align: center;
  color: var(--white);
  margin-top: 15px;
}

/* Animation */

@keyframes liAnimate {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes mega {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes arrow-link {
  0% {
    bottom: 60px;
  }

  100% {
    bottom: 40px;
  }
}

@keyframes land-img {
  0% {
    top: -50px;
  }

  100% {
    top: -25px;
  }
}

@keyframes arrow {
  from {
    left: 43%;
  }

  to {
    left: 40%;
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {

  0%,
  100% {
    background-image: url("../img/discount-background1.jpg");
  }

  50% {
    background-image: url("../img/discount-background2.jpg");
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: center;
  background-color: #ececec;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}